$primary: #7F0504;
$primary-subtle: #995C4F;
$secondary: #FFE5DA;
$secondary-subtle: #00C8F3;
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';